.Footer {
  height: 40px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 40px;
  background-color: #f6f7f7;
  color: #4b5c68;
  font-size: 12px;
  font-weight: 700;
}
